<div class="row">
  <div class="col-md-4 offset-md-4" style="padding-top: 10%;">
    <div class="guest-form-card card">

      <div class="card-header text-center">
        <h2>Login Here</h2>
      </div>

      <div class="card-body">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
          <div class="form-group">
            <label for="username">Email</label>
            <input  class="form-control" formControlName="email"/>
            <div class="invalid" *ngIf="myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched)">
              Please provide a valid email address.
            </div>
          </div>
       
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"  name="password" class="form-control" formControlName="password"/>
            <div class="invalid" *ngIf="myForm.get('password').invalid && (myForm.get('password').dirty || myForm.get('password').touched)">
              Password can't be blank.
            </div>
          </div>
          <!-- [disabled]="myForm.invalid" -->
    
          <button class="btn btn-primary btn-block" >Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
